@model OnlineAuction.Models.Lot
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Добавление лота";
}
<form asp-action="create" asp-controller="auction">
    <div class="form-group">
        <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartBet" class="control-label">@Localizer["Cost"]</label>
        <input type="number" asp-for="StartBet" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label">@Localizer["Company"]</label>
        <input type="text" asp-for="Company" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RateBet" class="control-label">@Localizer["RateBet"]</label>
        <input type="number" asp-for="RateBet" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["Send"]" class="btn btn-default" />
    </div>
</form>