@using OnlineAuction.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AuctionIndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper *, OnlineAuction

@{
    ViewData["Title"] = "Auction Page";
}
@if (User.IsInRole("admin") == true)
{
    <a asp-controller="Auction" asp-action="Create">@Localizer["AddLot"]</a>
    <a asp-controller="Auction" asp-action="EndAuction">@Localizer["EndAuc"]</a>
}
<div>
    <dl class="dl-horizontal">
        <dt>@Localizer["Name"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.Name)
        </dd>
        <dt>@Localizer["ActualCost"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.ActualCost)
        </dd>
        <dt>@Localizer["StartCost"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.StartBet)
        </dd>
        <dt>@Localizer["RateBet"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.RateBet)
        </dd>
        <dt>@Localizer["Company"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.Company)
        </dd>
        <dt>@Localizer["Status"]</dt>
        <dd>
            @Html.DisplayFor(model => model.ActualLot.Status)
        </dd>
    </dl>
</div>
<form asp-controller="Auction" asp-action="Up">
    <p>
        <input type="submit" value="@Localizer["Up"]" />
    </p>
</form>

<table class="table">
    @foreach (Bet bet in Model.Bets)
    {
        <tr>
            <td>@bet.User</td>
            <td>@bet.betSize</td>
        </tr>
    }
</table>

